In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sys; sys.path.append('/home/mitch/school/data/mexico_enigh/src/')
sys.path.append('/home/mitch/util/python/')
import utils
import json_utils

import os; import json
from simpledbf import Dbf5

dir = '/home/mitch/school/data/mexico_enigh/'

dir = '/home/mitch/school/data/mexico_enigh/'
data_dir = '/home/mitch/Dropbox/data/mexico_enigh/interim/1994/'
out_dir = '/home/mitch/Dropbox/data/mexico_enigh/processed/1994/'

/home/mitch/anaconda3/envs/main/lib/python3.9/site-packages/scipy/__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

SQLalchemy is not installed. No support for SQL output.

In [2]:
os.chdir(data_dir)
concen     = pd.read_csv('concen_cleaned.csv', index_col=[0])
population = pd.read_csv('population_cleaned.csv', index_col=[0])

In [3]:
concen.head(20)

,hhid,location,weight,location_size,INGMON,PERMON,GASNOM,ERONOM,INGCOR,GASMON,...,consumption_education,consumption_personal,salary_income,business_income,rental_income,transfers_income,other_income,BEBIDAS,SMG,consumption
0,19940110010,1001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,5062.41,...,703.35,488.60,6480.0,0.00,0.0,0.0,0.0,70.97,1160.1,4349.34
1,19940110020,1001,169.0,1,2763.00,0.0,148.39,0.0,2911.39,2569.32,...,672.24,82.21,1440.0,0.00,0.0,1323.0,0.0,84.11,1160.1,2085.90
2,19940110030,1001,169.0,1,2760.00,0.0,593.54,0.0,3353.54,2002.79,...,75.00,190.53,2760.0,0.00,0.0,0.0,0.0,35.49,1160.1,1535.72
3,19940110040,1001,169.0,1,6600.00,0.0,1533.85,0.0,8133.85,4925.66,...,533.43,633.63,4860.0,0.00,0.0,1740.0,0.0,23.66,1160.1,3473.93
4,19940110050,1001,169.0,1,8280.00,0.0,1780.62,0.0,10060.62,5128.29,...,1579.35,308.65,8280.0,0.00,0.0,0.0,0.0,0.00,1160.1,3293.66
5,19940110060,1001,153.0,1,7560.00,200.0,1305.79,0.0,8865.79,4109.89,...,771.61,125.33,6060.0,1500.00,0.0,0.0,0.0,23.66,1160.1,3777.80
6,19940110070,1001,153.0,1,13000.00,500.0,3185.04,0.0,16185.04,11161.73,...,1500.95,1407.17,8500.0,4500.00,0.0,0.0,0.0,461.30,1160.1,10026.08
8,19940110100,1001,153.0,1,6010.00,5400.0,1449.92,85.0,7459.92,9283.83,...,1727.01,738.36,6010.0,0.00,0.0,0.0,0.0,265.49,1160.1,8609.14
9,19940110110,1001,164.0,1,4200.00,0.0,2489.27,0.0,6689.27,5590.59,...,644.00,218.86,300.0,3900.00,0.0,0.0,0.0,407.42,1160.1,3543.46
10,19940110120,1001,164.0,1,2435.00,0.0,2347.19,0.0,4782.19,2187.29,...,0.00,1600.00,2435.0,0.00,0.0,0.0,0.0,0.00,1160.1,1963.82
11,19940110130,1001,164.0,1,5600.00,0.0,1187.08,0.0,6787.08,7400.00,...,2494.17,306.08,5600.0,0.00,0.0,0.0,0.0,164.30,1160.1,6822.12
12,19940110160,1009,420.0,3,2125.00,0.0,2985.78,0.0,5110.78,676.85,...,0.00,0.00,2125.0,0.00,0.0,0.0,0.0,0.00,1160.1,676.85
13,19940110170,1009,420.0,3,2460.00,0.0,178.06,0.0,2638.06,2027.13,...,59.35,54.01,2460.0,0.00,0.0,0.0,0.0,32.86,1160.1,1792.08
14,19940110180,1009,420.0,3,1050.00,0.0,148.39,0.0,1198.39,2037.96,...,59.35,75.97,1050.0,0.00,0.0,0.0,0.0,105.15,1160.1,1726.34
15,19940110190,1009,420.0,3,1560.00,300.0,1301.55,0.0,2861.55,1964.35,...,0.00,182.48,1560.0,0.00,0.0,0.0,0.0,105.14,1160.1,1744.45
16,19940110200,1009,420.0,3,2100.00,0.0,118.71,0.0,2218.71,2222.62,...,426.12,128.79,2100.0,0.00,0.0,0.0,0.0,92.01,1160.1,1715.75
17,19940110210,1007,176.0,4,2376.98,0.0,296.77,0.0,2673.75,3463.60,...,29.68,43.33,1320.0,702.98,0.0,354.0,0.0,368.01,1160.1,3049.91
18,19940110250,1007,176.0,4,3600.00,400.0,296.77,0.0,3896.77,2061.41,...,0.00,127.62,3600.0,0.00,0.0,0.0,0.0,0.00,1160.1,1782.45
19,19940110260,1007,176.0,4,2600.00,0.0,741.93,0.0,3341.93,1939.75,...,406.58,74.18,2600.0,0.00,0.0,0.0,0.0,82.81,1160.1,1616.18
20,19940110270,1007,176.0,4,2694.00,0.0,1026.82,0.0,3720.82,1086.82,...,0.00,19.88,325.0,1119.00,0.0,1250.0,0.0,139.32,1160.1,747.64

In [4]:
population.head(20)

            hhid  sex  age  education
0    19940110010    1   30          1
9    19940110020    1   63          0
14   19940110030    1   56          2
17   19940110040    1   56          1
23   19940110050    1   63          2
28   19940110060    1   49          1
33   19940110070    1   38          7
39   19940110090    1   39          7
42   19940110100    1   31          5
47   19940110110    1   40          2
57   19940110120    1   76          8
58   19940110130    1   37          8
62   19940110160    1   30          8
63   19940110170    1   40          6
68   19940110180    1   32          2
72   19940110190    1   39          2
82   19940110200    1   37          1
91   19940110210    1   50          1
98   19940110250    1   67          0
101  19940110260    1   35          4

In [5]:
data = concen.merge(population, on='hhid', how='inner')

In [6]:
data.describe()

,hhid,location,weight,location_size,INGMON,PERMON,GASNOM,ERONOM,INGCOR,GASMON,...,business_income,rental_income,transfers_income,other_income,BEBIDAS,SMG,consumption,sex,age,education
count,8.973000e+03,8973.000000,8973.000000,8973.000000,8973.000000,8973.000000,8973.000000,8973.000000,8973.000000,8973.000000,...,8973.000000,8973.000000,8973.000000,8973.000000,8973.000000,8973.000000,8973.000000,8973.000000,8973.000000,8973.000000
mean,1.994159e+10,15401.672573,1565.572941,2.315502,5984.368825,292.420096,1893.340252,9.317001,7877.709077,4957.850692,...,727.966541,86.305503,276.573626,46.449825,126.213256,1215.643430,4104.766954,1.125599,42.670456,2.562688
std,9.362449e+05,9376.548175,1850.389942,1.323078,7830.632817,1872.276277,2502.711455,253.478701,9300.454182,5577.396567,...,2922.242975,1092.225893,941.035762,702.608977,208.113568,86.939314,4794.755715,0.331415,14.045816,2.371767
min,1.994011e+10,1001.000000,32.000000,1.000000,6.000000,0.000000,0.000000,0.000000,164.030000,15.330000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1160.100000,11.880000,1.000000,15.000000,0.000000
25%,1.994085e+10,8025.000000,425.000000,1.000000,2250.000000,0.000000,552.000000,0.000000,3159.850000,2000.530000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1160.100000,1598.260000,1.000000,32.000000,1.000000
50%,1.994153e+10,15039.000000,1175.000000,2.000000,3780.000000,0.000000,1182.870000,0.000000,5204.340000,3434.870000,...,0.000000,0.000000,0.000000,0.000000,59.150000,1160.100000,2792.320000,1.000000,40.000000,2.000000
75%,1.994232e+10,23003.000000,1892.000000,4.000000,6720.000000,0.000000,2336.040000,0.000000,8983.490000,5802.820000,...,219.000000,0.000000,0.000000,0.000000,172.180000,1277.100000,4816.410000,1.000000,52.000000,4.000000
max,1.994330e+10,32056.000000,20707.000000,4.000000,171000.000000,90000.000000,60819.130000,17594.500000,205235.020000,149494.920000,...,90000.000000,48000.000000,18000.000000,38250.000000,7018.310000,1374.300000,132603.540000,2.000000,97.000000,9.000000

In [22]:
import importlib; importlib.reload(utils)
data['income'] = data['salary_income']
#data['income_residualized'] = utils.residualize_income(data)

In [8]:
os.chdir(data_dir)
data.to_csv('merged.csv')

In [39]:
import importlib; importlib.reload(utils)
aux = utils.residualize_income(data)

In [40]:
aux.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 income   No. Observations:                 8973
Model:                            GLM   Df Residuals:                 14047872
Model Family:                Gaussian   Df Model:                           13
Link Function:               identity   Scale:                      4.7826e+07
Method:                          IRLS   Log-Likelihood:            -1.4414e+08
Date:                Sun, 25 Jun 2023   Deviance:                   6.7185e+14
Time:                        20:17:30   Pearson chi2:                 6.72e+14
No. Iterations:                     3   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept         -1213.6346     43.296    -28.031      0.000   -1298.494   -1128.775
C(sex)[T.2]       -1184.9056      5.510   -215.065      0.000   -1195.704   -1174.107
C(education)[T.1]   954.8957      6.269    152.331      0.000     942.610     967.182
C(education)[T.2]  2718.4007      6.593    412.313      0.000    2705.479    2731.323
C(education)[T.3]  3376.2420     10.106    334.082      0.000    3356.435    3396.049
C(education)[T.4]  4501.8185      7.448    604.468      0.000    4487.221    4516.415
C(education)[T.5]  5075.1558     13.145    386.078      0.000    5049.391    5100.920
C(education)[T.6]  7248.7378      9.230    785.364      0.000    7230.648    7266.828
C(education)[T.7]  8466.1328     10.070    840.737      0.000    8446.396    8485.869
C(education)[T.8]  1.544e+04      8.655   1783.480      0.000    1.54e+04    1.55e+04
C(education)[T.9]  1.752e+04     20.390    859.458      0.000    1.75e+04    1.76e+04
age                 -92.4949      2.946    -31.399      0.000     -98.268     -86.721
I(age ** 2)           6.8566      0.063    108.435      0.000       6.733       6.980
I(age ** 3)          -0.0631      0.000   -147.201      0.000      -0.064      -0.062
=====================================================================================
"""

In [31]:
# get consumption within each decile
importlib.reload(utils)
data['income_decile'] = utils.get_deciles(data['income'], data['weight'])

In [32]:
average_consumption_by_decile = utils.indicator_by_decile(data, 'income', 'consumption', 'weight')

In [33]:
average_consumption_by_decile

array([1760.927601586102, 1859.235041734874, 2380.034552954093,
       2784.1950813287663, 3036.5396032120384, 3477.18901587563,
       4363.600784361478, 5609.21828299104, 7259.526431685641,
       14442.059885060029], dtype=object)