In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sys; sys.path.append('/home/mitch/school/data/mexico_enigh/src/')
import utils

import os; import json
from simpledbf import Dbf5

dir = '/home/mitch/school/data/mexico_enigh/'
data_dir = '/home/mitch/Dropbox/data/mexico_enigh/1994/'
out_dir = '/home/mitch/Dropbox/data/mexico_enigh/1994clean/'

In [18]:
data_dir = '/home/mitch/Dropbox/data/mexico_enigh/1994/'
os.chdir(data_dir)

gastos = Dbf5('gastos94.dbf').to_dataframe()
data = gastos.copy()

#os.chdir(dir)
#with open('pobalicion.json', 'r') as fp:
    #names = json.load(fp)

In [19]:
data.head()

,FOLIO,CLAVE,LUG_COM,DIA,NUM_REN,CANTIDAD,PRECIO,GASTO,PAGO_MP,GAS_TRI
0,19940410020,A078,03,1,00,0.48,4.16,2.0,0.0,26.29
1,19940410020,A080,03,1,00,0.50,4.20,2.1,0.0,27.60
2,19940410020,A188,03,1,00,2.00,1.50,3.0,0.0,39.43
3,19940410020,A088,03,1,00,0.72,2.77,2.0,0.0,26.29
4,19940410020,A034,01,1,00,1.00,12.00,12.0,0.0,157.71

In [20]:
data['is_durable'] = data['CLAVE'].apply(utils.isdurable)

In [21]:
data

,FOLIO,CLAVE,LUG_COM,DIA,NUM_REN,CANTIDAD,PRECIO,GASTO,PAGO_MP,GAS_TRI,is_durable
0,19940410020,A078,03,1,00,0.48,4.16,2.0,0.0,26.29,False
1,19940410020,A080,03,1,00,0.50,4.20,2.1,0.0,27.60,False
2,19940410020,A188,03,1,00,2.00,1.50,3.0,0.0,39.43,False
3,19940410020,A088,03,1,00,0.72,2.77,2.0,0.0,26.29,False
4,19940410020,A034,01,1,00,1.00,12.00,12.0,0.0,157.71,False
...,...,...,...,...,...,...,...,...,...,...,...
697322,19943290040,T902,00,0,00,0.00,0.00,60.0,0.0,184.00,True
697323,19943290050,T903,00,0,00,0.00,0.00,200.0,0.0,202.20,True
697324,19943290050,T903,00,0,00,0.00,0.00,200.0,0.0,202.20,True
697325,19943290110,T903,00,0,00,0.00,0.00,35.0,0.0,35.39,True
697326,19943290110,T903,00,0,00,0.00,0.00,35.0,0.0,35.39,True

In [22]:
data = data[data.is_durable == False]

In [25]:
data.sort_values(by=['FOLIO', 'CLAVE']).head(20)

,FOLIO,CLAVE,LUG_COM,DIA,NUM_REN,CANTIDAD,PRECIO,GASTO,PAGO_MP,GAS_TRI,is_durable
69109,19940110010,A004,03,2,00,2.00,1.00,2.00,0.0,26.29,False
69099,19940110010,A011,03,1,00,1.50,2.00,3.00,0.0,39.43,False
69111,19940110010,A011,03,3,00,0.45,2.00,0.90,0.0,11.83,False
69116,19940110010,A011,03,4,00,0.60,2.00,1.20,0.0,15.77,False
69119,19940110010,A011,03,5,00,0.45,2.00,0.90,0.0,11.83,False
69128,19940110010,A012,03,7,00,0.60,3.33,2.00,0.0,26.29,False
69122,19940110010,A015,03,6,00,0.12,7.50,0.90,0.0,11.83,False
69110,19940110010,A017,03,2,00,0.25,3.00,0.75,0.0,9.86,False
69105,19940110010,A023,03,2,00,0.50,16.00,8.00,0.0,105.14,False
69118,19940110010,A023,03,5,00,0.50,14.00,7.00,0.0,92.00,False
69124,19940110010,A034,03,6,00,1.00,9.00,9.00,0.0,118.29,False
69098,19940110010,A041,03,1,00,0.25,6.80,1.70,0.0,22.34,False
69104,19940110010,A060,03,1,00,1.00,1.80,1.80,0.0,23.66,False
69114,19940110010,A060,03,3,00,1.00,1.80,1.80,0.0,23.66,False
69115,19940110010,A060,03,4,00,1.00,1.80,1.80,0.0,23.66,False
69117,19940110010,A060,03,5,00,1.00,1.80,1.80,0.0,23.66,False
69127,19940110010,A060,03,7,00,1.00,1.80,1.80,0.0,23.66,False
69102,19940110010,A075,03,1,00,0.25,8.00,2.00,0.0,26.29,False
69113,19940110010,A078,03,3,00,0.50,3.00,1.50,0.0,19.71,False
69120,19940110010,A078,03,6,00,2.00,3.50,7.00,0.0,92.00,False

In [28]:
data.sort_values(by='GAS_TRI').GAS_TRI.value_counts()

GAS_TRI
26.29       39630
13.14       32757
39.43       26813
52.57       21683
19.71       21134
            ...
221.81          1
221.85          1
42.25           1
222.09          1
60392.70        1
Name: count, Length: 7274, dtype: int64