In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sys; sys.path.append('/home/mitch/school/data/mexico_enigh/src/')
import utils

import os; import json
from simpledbf import Dbf5

dir = '/home/mitch/school/data/mexico_enigh/'
data_dir = '/home/mitch/Dropbox/data/mexico_enigh/1994/'
out_dir = '/home/mitch/Dropbox/data/mexico_enigh/1994clean/'

PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.

In [4]:
data_dir = '/home/mitch/Dropbox/data/mexico_enigh/1994/'
os.chdir(data_dir)

nomon = Dbf5('nomon.dbf').to_dataframe()
data = nomon.copy()

#os.chdir(dir)
#with open('pobalicion.json', 'r') as fp:
    #names = json.load(fp)

In [5]:
data.head()

,FOLIO,TIPO_GAS,NUM_REN,DIA,LUG_COM,CLAVE,CANTIDAD,PRECIO,GASTO,GAS_TRI
0,19940110010,1,00,0,00,K031,0.0,0.0,3360.0,1680.00
1,19940110010,0,00,0,00,G001,0.0,0.0,300.0,890.31
2,19940110010,3,00,0,00,H009,0.0,0.0,30.0,30.00
3,19940110020,0,00,0,00,G001,0.0,0.0,50.0,148.39
4,19940110030,0,00,0,00,G001,0.0,0.0,200.0,593.54

In [8]:
data.sort_values(by = ['FOLIO', 'CLAVE', 'DIA']).head(20)

,FOLIO,TIPO_GAS,NUM_REN,DIA,LUG_COM,CLAVE,CANTIDAD,PRECIO,GASTO,GAS_TRI
1,19940110010,0,00,0,00,G001,0.0,0.0,300.0,890.31
2,19940110010,3,00,0,00,H009,0.0,0.0,30.0,30.00
0,19940110010,1,00,0,00,K031,0.0,0.0,3360.0,1680.00
3,19940110020,0,00,0,00,G001,0.0,0.0,50.0,148.39
4,19940110030,0,00,0,00,G001,0.0,0.0,200.0,593.54
5,19940110040,0,00,0,00,G001,0.0,0.0,500.0,1483.85
6,19940110040,2,06,0,00,J001,0.0,0.0,50.0,50.00
7,19940110050,0,00,0,00,G001,0.0,0.0,600.0,1780.62
9,19940110060,1,00,0,00,D018,0.0,0.0,40.0,118.71
8,19940110060,0,00,0,00,G001,0.0,0.0,400.0,1187.08
12,19940110070,2,05,1,11,A204,0.0,0.0,5.0,65.71
13,19940110070,2,05,2,11,A204,0.0,0.0,5.0,65.71
15,19940110070,2,05,3,11,A204,0.0,0.0,5.0,65.71
11,19940110070,2,05,4,11,A204,0.0,0.0,5.0,65.71
19,19940110070,3,00,4,00,A204,3.0,5.0,15.0,197.14
26,19940110070,2,05,5,11,A204,0.0,0.0,5.0,65.71
22,19940110070,3,00,6,00,A204,1.0,5.0,5.0,65.71
28,19940110070,2,05,6,11,A204,0.0,0.0,5.0,65.71
30,19940110070,2,05,7,11,A204,0.0,0.0,5.0,65.71
10,19940110070,2,05,1,11,A205,0.0,0.0,5.0,65.71

In [7]:
data['is_durable'] = data['CLAVE'].apply(utils.isdurable)

In [8]:
data

,FOLIO,CLAVE,LUG_COM,DIA,NUM_REN,CANTIDAD,PRECIO,GASTO,PAGO_MP,GAS_TRI,is_durable
0,19940410020,A078,03,1,00,0.48,4.16,2.0,0.0,26.29,False
1,19940410020,A080,03,1,00,0.50,4.20,2.1,0.0,27.60,False
2,19940410020,A188,03,1,00,2.00,1.50,3.0,0.0,39.43,False
3,19940410020,A088,03,1,00,0.72,2.77,2.0,0.0,26.29,False
4,19940410020,A034,01,1,00,1.00,12.00,12.0,0.0,157.71,False
...,...,...,...,...,...,...,...,...,...,...,...
697322,19943290040,T902,00,0,00,0.00,0.00,60.0,0.0,184.00,True
697323,19943290050,T903,00,0,00,0.00,0.00,200.0,0.0,202.20,True
697324,19943290050,T903,00,0,00,0.00,0.00,200.0,0.0,202.20,True
697325,19943290110,T903,00,0,00,0.00,0.00,35.0,0.0,35.39,True
697326,19943290110,T903,00,0,00,0.00,0.00,35.0,0.0,35.39,True

In [11]:
data = data[data.is_durable == False]

In [14]:
data.sort_values(by='FOLIO')

,FOLIO,CLAVE,LUG_COM,DIA,NUM_REN,CANTIDAD,PRECIO,GASTO,PAGO_MP,GAS_TRI,is_durable
69113,19940110010,A078,03,3,00,0.5,3.0,1.50,0.0,19.71,False
69120,19940110010,A078,03,6,00,2.0,3.5,7.00,0.0,92.00,False
57416,19940110020,A078,03,6,00,1.0,3.5,3.50,0.0,46.00,False
57469,19940110030,A078,03,4,00,0.5,3.5,1.75,0.0,23.00,False
57446,19940110030,A078,03,1,00,0.5,2.8,1.40,0.0,18.40,False
...,...,...,...,...,...,...,...,...,...,...,...
696756,19943290231,A078,03,1,00,2.0,4.5,9.00,0.0,118.29,False
696779,19943290240,A078,03,7,00,0.5,4.0,2.00,0.0,26.29,False
696806,19943290240,A078,02,1,00,2.0,4.4,8.80,0.0,115.66,False
696833,19943290250,A078,02,1,00,1.0,4.2,4.20,0.0,55.20,False
696859,19943298090,A078,02,2,00,1.0,3.0,3.00,0.0,39.43,False