In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [6]:
processed = '/home/mitch/Dropbox/data/mexico_enigh/processed/'
os.chdir(processed)
df = pd.read_csv('data.csv')

/tmp/ipykernel_136798/3198711041.py:3: DtypeWarning: Columns (71,82,134,149) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

In [7]:
df

,Unnamed: 0,hhid,location,weight,location_size,INGMON,PERMON,GASNOM,ERONOM,INGCOR,...,MONEDAS,CASAS,BALANCE,OTRA_ERO,CLASE_HOG,ASIS_ESC_T,DEBE_MAT,GRADO_DEBE,NOM_EMP,OTROTRAB
0,0,19940110010,1001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,19940110010,1001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,19940110010,1001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,19940110010,1001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,19940110010,1001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215909,215909,200032190230,32042,1392.0,4,7568.76,0.0,1382.51,0.0,8951.27,...,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
215910,215910,200032190230,32042,1392.0,4,7568.76,0.0,1382.51,0.0,8951.27,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
215911,215911,200032190240,32042,1392.0,4,21203.76,0.0,1289.32,0.0,22493.08,...,0.0,0.0,0.0,50.0,2.0,2.0,0.0,0.0,2.0,2002.0
215912,215912,200032190240,32042,1392.0,4,21203.76,0.0,1289.32,0.0,22493.08,...,0.0,0.0,0.0,50.0,2.0,2.0,0.0,0.0,0.0,202.0
215913,215913,200032190240,32042,1392.0,4,21203.76,0.0,1289.32,0.0,22493.08,...,0.0,0.0,0.0,50.0,2.0,2.0,0.0,0.0,2.0,1022.0

In [8]:
df.sort_values(['hhid', 'Y'])

,Unnamed: 0,hhid,location,weight,location_size,INGMON,PERMON,GASNOM,ERONOM,INGCOR,...,MONEDAS,CASAS,BALANCE,OTRA_ERO,CLASE_HOG,ASIS_ESC_T,DEBE_MAT,GRADO_DEBE,NOM_EMP,OTROTRAB
0,0,19940110010,1001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,19940110010,1001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,19940110010,1001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,19940110010,1001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,19940110010,1001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215909,215909,200032190230,32042,1392.0,4,7568.76,0.0,1382.51,0.0,8951.27,...,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
215910,215910,200032190230,32042,1392.0,4,7568.76,0.0,1382.51,0.0,8951.27,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
215911,215911,200032190240,32042,1392.0,4,21203.76,0.0,1289.32,0.0,22493.08,...,0.0,0.0,0.0,50.0,2.0,2.0,0.0,0.0,2.0,2002.0
215912,215912,200032190240,32042,1392.0,4,21203.76,0.0,1289.32,0.0,22493.08,...,0.0,0.0,0.0,50.0,2.0,2.0,0.0,0.0,0.0,202.0
215913,215913,200032190240,32042,1392.0,4,21203.76,0.0,1289.32,0.0,22493.08,...,0.0,0.0,0.0,50.0,2.0,2.0,0.0,0.0,2.0,1022.0

In [12]:
df['weight']

0          169.0
1          169.0
2          169.0
3          169.0
4          169.0
           ...
215909    1392.0
215910    1392.0
215911    1392.0
215912    1392.0
215913    1392.0
Name: weight, Length: 215914, dtype: float64