In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sys; 
#sys.path.append('/home/mitch/school/data/mexico_enigh/src/')
sys.path.append('../src')
sys.path.append('/home/mitch/school/data/mexico_enigh/dicts/')
sys.path.append('/home/mitch/util/python/')
import json_utils

import utils
import os

from simpledbf import Dbf5

raw  = '/home/mitch/Dropbox/data/mexico_enigh/raw/'
interim = '/home/mitch/Dropbox/data/mexico_enigh/interim2/'
dicts = '/home/mitch/school/data/mexico_enigh/dicts/'

SQLalchemy is not installed. No support for SQL output.

In [2]:
os.chdir(dicts)
income_cat = json_utils.load_json("capital_perceptions.json")
rename_income = json_utils.load_json("rename_income.json")

In [4]:
year = '1994'
os.chdir(raw + year)

df = Dbf5('income.dbf').to_dataframe()
df.columns = [x.lower() for x in df.columns]
df = df.rename(columns = rename_income)
df = df.sort_values(['hhid', 'category'])
df.head(20)

,hhid,num_ren,empleo,months,category,ing1,income,mes2,mes3,mes4,mes5,mes6
1,19940110010,08,1,080706050403,P001,560.0,1680.0,560.0,560.0,560.0,560.0,560.0
0,19940110010,07,1,080706050403,P002,1600.0,4800.0,1600.0,1600.0,1600.0,1600.0,1600.0
3,19940110020,03,1,080706050403,P001,480.0,1440.0,480.0,480.0,480.0,480.0,480.0
2,19940110020,01,0,080706050403,P023,441.0,1323.0,441.0,441.0,441.0,441.0,441.0
4,19940110030,02,1,080706050403,P001,480.0,1440.0,480.0,480.0,480.0,480.0,480.0
5,19940110030,03,1,080706050403,P001,440.0,1320.0,440.0,440.0,440.0,440.0,440.0
7,19940110040,02,1,080706050403,P001,440.0,1320.0,440.0,440.0,440.0,440.0,440.0
8,19940110040,06,1,080706050403,P001,1180.0,3540.0,1180.0,1180.0,1180.0,1180.0,1180.0
6,19940110040,01,0,080706050403,P023,580.0,1740.0,580.0,580.0,580.0,580.0,580.0
9,19940110050,01,1,080706050403,P001,1200.0,3600.0,1200.0,1200.0,1200.0,1200.0,1200.0
10,19940110050,03,1,080706050403,P001,480.0,1440.0,480.0,480.0,480.0,480.0,480.0
11,19940110050,04,1,080706050403,P001,600.0,1800.0,600.0,600.0,600.0,600.0,600.0
12,19940110050,05,1,080706050403,P001,480.0,1440.0,480.0,480.0,480.0,480.0,480.0
13,19940110060,01,1,080706050403,P001,500.0,1500.0,500.0,500.0,500.0,500.0,500.0
15,19940110060,03,1,080706050403,P001,640.0,1920.0,640.0,640.0,640.0,640.0,640.0
17,19940110060,04,1,080706050403,P001,880.0,2640.0,880.0,880.0,880.0,880.0,880.0
14,19940110060,02,1,080706050403,P008,500.0,1500.0,500.0,500.0,500.0,500.0,500.0
16,19940110060,04,1,080706050403,P031,0.0,200.0,400.0,0.0,0.0,0.0,0.0
19,19940110070,01,1,080706050403,P001,1000.0,3000.0,1000.0,1000.0,1000.0,1000.0,1000.0
21,19940110070,05,1,080706050403,P001,1000.0,3000.0,1000.0,1000.0,1000.0,1000.0,1000.0